{% extends 'website/layout.html' %} {% load static %}
<!-- css -->
{% block css %}
    <link rel="stylesheet" href="{% static 'website/team/team.css' %}">
{% endblock css %}
<!-- content -->
{% block content %}
    <h2 class="container my-5 wow fadeInUp">Head
        <br class=d-md-none> Co-ordinators</h2>
    <hr>
    <div class="members container">
        <div class=member>
            <img src={% static "website/img/blackwidow.jpeg" %}>
            <div class=description>
                <h3 class=designation>Lead spy</h3>
                <h4 class=name>Black widow</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/tonystark.jpeg" %}>
            <div class=description>
                <h3 class=designation>Techlead</h3>
                <h4 class=name>Tony Stark</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/captainamerica.jpeg" %}>
            <div class=description>
                <h3 class=designation>Senior Joker</h3>
                <h4 class=name>Captain America</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/drstrange.jpeg" %}>
            <div class=description>
                <h3 class=designation>Great neurologist</h3>
                <h4 class=name>Dr. Strange</h4>
            </div>
        </div>
    </div>
    <div class=right-grey>
        <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 10" preserveAspectRatio=none>
            <polygon points="100 0 100 10 0 10" /> </svg>
    </div>
    <div class=color>
        <h2 class="container py-5 wow fadeInUp">Managers</h2>
        <hr>
        <div class="members container">
            <div class=member>
                <img src={% static "website/img/starlord.jpeg" %}>
                <div class=description>
                    <h3 class=designation>Chocolate</h3>
                    <h4 class=name>Starlord</h4>
                </div>
            </div>
            <div class=member>
                <img src={% static "website/img/spiderman.jpeg" %}>
                <div class=description>
                    <h3 class=designation>The one british</h3>
                    <h4 class=name>Spiderman</h4>
                </div>
            </div>
            <div class=member>
                <img src={% static "website/img/blackwidow.jpeg" %}>
                <div class=description>
                    <h3 class=designation>Lead spy</h3>
                    <h4 class=name>Black widow</h4>
                </div>
            </div>
            <div class=member>
                <img src={% static "website/img/tonystark.jpeg" %}>
                <div class=description>
                    <h3 class=designation>Techlead</h3>
                    <h4 class=name>Tony Stark</h4>
                </div>
            </div>
            <div class=member>
                <img src={% static "website/img/captainamerica.jpeg" %}>
                <div class=description>
                    <h3 class=designation>Senior Joker</h3>
                    <h4 class=name>Captain America</h4>
                </div>
            </div>
        </div>
    </div>
    <div class=right-white>
        <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 100 10" preserveAspectRatio=none>
            <polygon points="100 0 100 10 0 10" /> </svg>
    </div>
    <h2 class="container my-5 wow fadeInUp">Executives</h2>
    <hr>
    <div class="members container">
        <div class=member>
            <img src={% static "website/img/starlord.jpeg" %}>
            <div class=description>
                <h3 class=designation>Chocolate</h3>
                <h4 class=name>Starlord</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/spiderman.jpeg" %}>
            <div class=description>
                <h3 class=designation>The one british</h3>
                <h4 class=name>Spiderman</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/blackwidow.jpeg" %}>
            <div class=description>
                <h3 class=designation>Lead spy</h3>
                <h4 class=name>Black widow</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/tonystark.jpeg" %}>
            <div class=description>
                <h3 class=designation>Techlead</h3>
                <h4 class=name>Tony Stark</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/captainamerica.jpeg" %}>
            <div class=description>
                <h3 class=designation>Senior Joker</h3>
                <h4 class=name>Captain America</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/drstrange.jpeg" %}>
            <div class=description>
                <h3 class=designation>Great neurologist</h3>
                <h4 class=name>Dr. Strange</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/hulk.jpeg" %}>
            <div class=description>
                <h3 class=designation>Short tempered</h3>
                <h4 class=name>Hulk</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/starlord.jpeg" %}>
            <div class=description>
                <h3 class=designation>Chocolate</h3>
                <h4 class=name>Starlord</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/spiderman.jpeg" %}>
            <div class=description>
                <h3 class=designation>The one british</h3>
                <h4 class=name>Spiderman</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/blackwidow.jpeg" %}>
            <div class=description>
                <h3 class=designation>Lead spy</h3>
                <h4 class=name>Black widow</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/tonystark.jpeg" %}>
            <div class=description>
                <h3 class=designation>Techlead</h3>
                <h4 class=name>Tony Stark</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/captainamerica.jpeg" %}>
            <div class=description>
                <h3 class=designation>Senior Joker</h3>
                <h4 class=name>Captain America</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/drstrange.jpeg" %}>
            <div class=description>
                <h3 class=designation>Great neurologist</h3>
                <h4 class=name>Dr. Strange</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/hulk.jpeg" %}>
            <div class=description>
                <h3 class=designation>Short tempered</h3>
                <h4 class=name>Hulk</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/starlord.jpeg" %}>
            <div class=description>
                <h3 class=designation>Chocolate</h3>
                <h4 class=name>Starlord</h4>
            </div>
        </div>
        <div class=member>
            <img src={% static "website/img/spiderman.jpeg" %}>
            <div class=description>
                <h3 class=designation>The one british</h3>
                <h4 class=name>Spiderman</h4>
            </div>
        </div>
    </div>
{% endblock content %}